{% extends "base.html" %}
{% block page-content %}
	
	<div id="file-transfer-main">
	<form action="" method="GET">
		
		<div id="ft-hostlist">
			{% for host in hl %}
				<input type="checkbox" name="selected_hosts" value="{{host.id}}"/>{{ host.hostname }}</><br />			
			{% endfor %}
		</div>
		
		<div id="ft-fr">
			<div id="ft-filelist">
				<select name="selected_file" size="20" multiple="multiple">
					{% for file in filelist %}
						<option value="{{ file.fname }}" style="font-size:5px"> {{file.fname}} -.- {{file.ftime}} | {{file.fsize}}(KB) </option>	<br />
					{% endfor %}
				</select>
			</div>
			
			<div id="ft-remotepath">
				<h5> Remote Path: <input name="remotepath" type="text" id="remotepath"/></h5>
			</div>
			
			<div id="ft-submit">
				<input type="submit" value="upload"/>
			</div>
		</div>
		
	</form>
  	</div>
  	
  	
  	
  	<!--
	<div id="file-transfer-main">
		
		<div id="ft-hostlist">
			
		</div>

    	<div id="ft-left">

        	<div id="file-for-select">File List:</div>

        	<select size="10"  multiple="MULTIPLE" id="filelist"></select>
        	<br />
        	<button  id="chooseall" class="btn btn-primary"> Choose All </button>

		</div>

        <div id="ft-middle">
            <button  id="movetoright" class="btn btn-primary btn-small"> >> </button>
           	<br />
            <button  id="movetoleft"  class="btn btn-primary btn-small"> << </button>
		</div>

        <div id="ft-right">

            <div id="file-selected">File Selected:</div>
            
            <select size="10" id="selected_files"></select>
            <br />
            <button  id="removeall" class="btn btn-primary"> Remove All </button>
			<div id="remotepath">
            	Remote Path: <input type="text" id="remotepath" value=""/>
            </div>

    	</div>
	</div>
	-->
	
{% endblock %}