{% extends "base.html" %}

{% block page-content %}

	<!--
	<h1 class="page-header">Dashboard</h1>
                
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
    </div>
    -->
    
    <h2 class="sub-header">Host list</h2>     
    
    <div class="table-responsive">
        <table class="table table-striped">
            
            <thead>
                <tr>
                    <th>Status</th>
                    <th>#IP</th>
                    <th>Host name</th>
                    <th>Server class</th>
                    <th>Packet loss</th>
                    <th>Ping delay</th>
                </tr>
            </thead>
            
            <tbody>
            {% for h in hl %}
			    <tr>
			        <td></td>
			        <td><a href='#'>{{ h.ip }}</a></td>
				    <td>{{ h.hostname }}</td>
				    <td>{{ h.server_class }}</td>
				    <td>{{ h.os_version }}</td>
				    <td>{{ h.kernel_version }}</td>
			    </tr>
		    {% endfor %}
            </tbody>
            
        </table>
    </div>

{% endblock %}