body {
    margin: 0;
    padding: 0;
    width:99.9%;
    font-size: 12px;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
}

#container {
    position: relative;
    width: 100%;
    min-width: 800px;
    padding: 0;
}

#overhead {
	background: #417690;
    color: #ffc;
    overflow: hidden;
}

#branding h1 {
    padding: 0 10px;
    font-size: 18px;
    margin: 8px 0;
    font-weight: normal;
    color: #f4f379;
}

#main {
	margin-top:10px;
	height:650px;        /* Show be commented */
	border:solid 2px;
	padding:2px;
}

#main-navigation {
	position:absolute;
	border:solid 2px #417690;
	width:200px;
}

#main-navigation div {
	margin-left:40px;
	font-size:20px;
}

#main-navigation li {
	margin:5px;
	padding:5px;
}

#main-navigation ul {
	list-style-type:none;
}

#main-content {
	/*background-color:#BBFFFA;*/
	margin-left:210px;
	height:100%
}





/*host manage*/
table {
	text-align:left;
	width:900px;
}



/*file transfer*/

#file-transfer-main {
	border:solid 2px #417690;
	width:100%;
	height:100%;
}

#ft-hostlist {
	float:left;
	min-width:50px;
	margin:5px;
	display:inline-block;
	width:150px;
	height:500px;    /* Show be commented */
	border:solid 2px #00FF00;
}

#ft-fr {
	float:left;
	margin:5px;
	width:300px;
	height:500px;    /* Show be commented */
	border:solid 2px #00FF00;
}

#ft-filelist {
	height:70%;
	border:solid 2px #00FF00;
}


#ft-remotepath {
	margin-top:10px;
	height:16%;
	border:solid 2px #00FF00;
}

#ft-remotepath input {
	margin-left:6px;
	width:60%;
}

#ft-submit {
	float:right;
	margin-right:30px;
}



/*

#file-transfer-main {
	border:1px solid #ccc;
}

#ft-hostlist {
	float:left;
	min-width:20px;
	margin:5px;
	display:inline-block;
	width:20%;
	border:solid 2px #00FF00;
	background-color:#00FF00;
	
}

#ft-left {
	position:relative;
	margin:5px;
	float:left;
	min-width:20px;
	display:inline-block;
	width:30%;
	border:solid 2px;

	height:280px;
}

#ft-middle {
	position:relative;
	width:5%;
	float:left;
	display:inline-block;
	margin:20% 0 30% 1%;
}

#ft-right {
	position:relative;
	margin:5px;
	float:left;
	min-width:20px;
	display:inline-block;
	width:30%;
	height:280px;
	border:solid 3px;
}

#file-for-select {
	border:1px solid #ccc;
	background:#e1e1e1;
	border-bottom-style:none;
}

#file-selected {
	border:1px solid #ccc;
	background:#97b6d6;
	border-bottom-style:none;
}

#file-selected select{
	display: block;width:100%;height: 90%;border: 1px solid #ccc;margin:0px 10px 0 0;
}

#ft-left select {
	display:block;
	width:100%;
	height:80%;
	border:1px solid #ccc;
	overflow:auto;
}

#ft-right select {
	display:block;
	width:100%;
	height:90%;
	border:1px solid #ccc;
	margin:0px 10px 0 0;
}

#remotepath input {
	width:60%;
	margin-left:10px
}

*/